body {
  background-color: rgba(90, 95, 100);
  font-family: "Gemunu Libre", sans-serif;
}
h1 {
  text-align: center;
  background-color: rgb(55, 55, 55);
  font-size: 35px;
  color: rgb(255, 255, 255);
  padding: 20px;
  margin: 0px 0px 0px 0px;
}
.outer {
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
.Mblogpost-title {
  font-size: 25px;
  color: white;
  background-color: rgb(55, 55, 55);
  padding: 20px 250px 550px 250px;
}
.CSblog {
  font-size: 25px;
  color: white;
  background-color: rgb(55, 55, 55);
  padding: 20px 175px 550px 210px;
  left: 55vw;
  top: 20vh;
}
.Mathimg {
  background-image: url(math-curriculum.jpg);
  padding: 200px 250px 200px 240px;
}
.CSimg {
  background-image: url(cs.jpg);
  padding: 200px 250px 200px 250px;
}
.CSB {
  color: white;
  font-size: 20px;
}
.mathpost-desc {
  color: white;
  font-size: 20px;
}
