body {
  background-color: rgba(90, 95, 100);
}
h1 {
  font-family: "Gemunu Libre", sans-serif;
  text-align: center;
  background-color: rgb(55, 55, 55);
  font-size: 35px;
  color: rgb(255, 255, 255);
  padding: 20px;
}
.outer {
  margin-top: 140px;
  margin-left: 5px;
  margin-right: 5px;
}
.Mblog {
  font-family: "Gemunu Libre", sans-serif;
  font-size: 25px;
  position: absolute;
  color: white;
  background-color: rgb(55, 55, 55);
  padding: 20px 250px 550px 225px;
  left: 10vw;
  top: 20vh;
}
.CSblog {
  font-family: "Gemunu Libre", sans-serif;
  font-size: 25px;
  position: absolute;
  color: white;
  background-color: rgb(55, 55, 55);
  padding: 20px 175px 550px 190px;
  left: 55vw;
  top: 20vh;
}
.Math {
  position: absolute;
  background-image: url(math-curriculum.jpg);
  padding: 200px 250px 200px 240px;
  margin-left: 10vw;
  margin-right: 55vw;
  margin-top: 1vh;
}
.CS {
  position: absolute;
  background-image: url(cs.jpg);
  padding: 200px 250px 200px 250px;
  margin-left: 55vw;
  margin-right: 10vw;
  margin-top: 1vh;
}
.CSB {
  font-family: "Gemunu Libre", sans-serif;
  color: white;
  font-size: 20px;
  position: absolute;
  margin-left: 55vw;
  margin-right: 10vw;
  margin-top: 55vh;
}
.mathb {
  font-family: "Gemunu Libre", sans-serif;
  color: white;
  font-size: 20px;
  position: absolute;
  margin-left: 10vw;
  margin-right: 55vw;
  margin-top: 55vh;
}
